<h1 style="text-align: center;">Hendrix</h1>
<h1 id="business_name" style="margin-top: 5%; text-align: center;">{{business.name}}</h1>
<div class="container" style="margin-top: 5%;">

    <form>
        <div class="form-group">
            <h3 for="exampleFormControlInput1">Description</h3>
            <input type="text" class="form-control" id="description" placeholder="description">
        </div>
    </form>
       


    <button type="submit" href="./search.html" class="btn btn-primary" style="margin-top: 3%;">Submit</button>
    <script src="js/createreview"></script>